@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-red: #cc2027;
  --color-brand-red-hover: #b31920;
  --color-brand-navy: #0A2B5E;
  --color-brand-navy-light: #104085;
}
